<% content_for :meta_title, "#{@bar.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @bar.description %>
<% content_for :meta_image, cl_image_path(@bar.photo.key) if @bar.photo.attached? %>

<%= render "shared/navbar" %>
<div class="container">
    <div class="card-bar">
        <div class="card-bar-img d-flex justify-content-center align-items-end" style="background-image: url('<%= cl_image_path @bar.photo.key, height: 300 %>')">
          <h3 class="font-weight-bold"><%= @bar.name %></h3>
        </div>
          <div class="card-body-bar">
            <p class='text-center'><%= @bar.address %></p>
              <div class="d-flex justify-content-around">
                <div class="Stars" style="--rating: <%= @bar.rating %>;" aria-label="Rating of this product is <%= @bar.rating %> out of 5.">
                </div>
                  <p class="text-muted"><%= @bar.rating %></p>
              </div>
            <p class="mb-2 text-center"><%= render "barprice" %> • <%= @bar.category %></p>
            <div class="card-bar-description">
              <p class="card-text"><strong>Description : </strong><%= @bar.description %></p>
            </div>
            <hr class="my-4" />

            <p class="lead text-center"><strong>Opening hours</strong></p>
            <ul class="list-unstyled list-inline d-flex justify-content-around">
              <li class="list-inline-item me-0">
                <div class="chip me-0"> <%= @bar.opening_hours.first(2)%>h<%=  @bar.opening_hours.last(2) %></div>
              </li>
              <li class="list-inline-item me-0">
                <div class="chip me-0"> <%= @bar.closing_hours.first(2) %>h<%= @bar.closing_hours.last(2) %></div>
              </li>
            </ul>
          </div>
    </div>
</div>

<div><%= render "shared/homefooter" %></div>
