 <%= render "shared/navbar" %>
<div class="container">
    <div class="card-bar">
        <div>
          <%= cl_image_tag @bar.photo.key, crop: :fit, class:"card-bar-img2"%>
          <h3 class="card-title font-weight-bold text-center"><%= @bar.name %></h3>
        </div>
          <div class="card-body-bar">
            <p class='text-center'><%= @bar.address %></p>
              <div class="d-flex justify-content-around">
                <div class="Stars" style="--rating: 2.3;" aria-label="Rating of this product is 2.3 out of 5.">
                </div>
                  <p class="text-muted"><%= @bar.rating %></p>
              </div>
            <p class="mb-2 text-center"><%= render "barprice" %> • <%= @bar.category %></p>
            <div class="card-bar-description">
              <p class="card-text"><strong>Description : </strong><%= @bar.description %></p>
            </div>
            <hr class="my-4" />

            <p class="lead text-center"><strong>Opening hours</strong></p>
            <ul class="list-unstyled list-inline d-flex justify-content-between">
              <li class="list-inline-item me-0">
                <div class="chip me-0"> <%= @bar.opening_hours %></div>
              </li>
              <li class="list-inline-item me-0">
                <div class="chip me-0"> <%= @bar.closing_hours %></div>
              </li>
            </ul>
          </div>
    </div>
</div>
