<div class="footer-i bg-white d-flex justify-content-around w-100 align-items-center footer-icons footer-bottom-page">
  <%= link_to "", '#', class: "fa-solid fa-magnifying-glass", style:"color:#E2711D", data: { action: 'click->search-bars#focusOnClick' }%>
  <%= link_to "", myevents_path, class: "fa-solid fa-calendar-days", style:"color:#E2711D"%>
  <%= link_to "", myevents_path, class: "fa-solid fa-bell", style:"color:#E2711D"%>
  <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
  </a>
<div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
</div>
</div>
