<div data-search-events-target="list" style="background-color:#F5F0E1; margin-bottom:110px">
  <div data-search-events-target="host">
    <div class="justify-content-around">
      <% @host_events.each do |event| %>
        <div class="card-event">
          <div class="image">
            <%= link_to event_path(event) do %>
              <%= cl_image_tag Bar.find(event.bar_ids.first).photo.key, crop: :fit, class:"card-event-img"%>
            <% end %>
          </div>
          <div class="card-event-infos">
            <div class="row">
              <div class="col">
                <h2> <%= link_to "#{event.title}", event_path(event), class:"text-decoration-none fw-bold mb-3", style:"color:white"%></h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span style="font-size:12px; color:#1E3D59">
                  <strong>
                    <i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime("%a %e %b") %>
                    &nbsp;
                    <i class="fa-regular fa-clock"></i> <%= event.hour.strftime("%H h %M") %>
                    &nbsp;
                    <i class="fa-solid fa-people-group"></i> <%= event.users.count %>
                  </strong>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
 </div>

  <div data-search-events-target="invit" class="d-none">
    <div class="justify-content-around">
      <% @invitation_events.each do |event| %>
        <div class="card-event">
          <div class="image">
            <%= link_to event_path(event) do %>
              <%= cl_image_tag Bar.find(event.bar_ids.first).photo.key, crop: :fit, class:"card-bar-img"%>
            <% end %>
          </div>
          <div class="card-event-infos">
            <div class="row">
              <div class="col flex-column ">
                <h2> <%= link_to "#{event.title}", event_path(event), class:"text-decoration-none fw-bold", style:"color:white"%></h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <span style="font-size:12px; color:#1E3D59">
                <strong>
                  <i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime("%a %e %b") %>
                  &nbsp;
                  <i class="fa-regular fa-clock"></i> <%= event.hour.strftime("%H h %M") %>
                  &nbsp;
                  <i class="fa-solid fa-people-group"></i> <%= event.users.count %>
                </strong>

                </span>
              </div>
            </div>
            <div class="row d-flex ms-3" style="margin-top:5px">
              <div class="col d-flex justify-content-between">
                <div data-controller="answer" data-answer-event-id-value="<%= event.id %>" data-answer-participant-id-value="<%= current_user.find_participant(event).id %>">
                  <% unless current_user.find_participant(event).status == "accept" %>
                    <button data-status="accept" data-action="click->answer#accept" data-answer-target="accept" class="btn bg-white rounded-pill btn-sm fw-bolder" style="color:#1E3D59">Accept</button>
                    <span data-answer-target="accepted" style="color:#FF6E40" class="fw-bold d-none">Let's drink 🎉!</span>
                  <% end %>
                  <% unless current_user.find_participant(event).status == "decline" %>
                    <button data-status="decline" data-action="click->answer#decline" data-answer-target="decline" class="btn btn-outline-light rounded-pill btn-sm fw-bold">Decline</button>
                    <span data-answer-target="refused" style="color:#FF6E40" class="fw-bold d-none">Next time 🌞!</span>
                  <% end %>
                    <button data-status="reset" data-action="click->answer#reset" data-answer-target="reset" class="btn btn-outline-light rounded-pill btn-sm fw-bold d-none">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
