<%= render "shared/navbar" %>
<div class="container mt-5 border rounded-5 p-5">
  <h1>Edit my event</h1>
  <%= simple_form_for (@event) do |f| %>
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :address %>
    <%= f.button :submit, class: "btn btn-small-orange"  %>
  <% end %>
</div>
