<%= render "shared/navbar" %>
<h2>My events</h2>
<h3> Organizer</h3>
<div class="myevents rounded m-5" style="background-color:#FFC971">
  <% @host_events.each do |event| %>
    <h3> <%= link_to "title : #{event.title}", event_path(event) %></h3>
      <p><%= event.address %></p>
    <div class="infos d-flex fw-bold">
      <p><%= event.date %></p>
      <p>|</p>
      <p><%= event.hour %></p>
      <p>|</p>
      <p><%= event.address %></p>
      <p>|</p>
    </div>

    <p> Status : <%= event.status %></p>
    <p> Participant(s) : <%= event.users.where.not(id: current_user.id).map { |user| user.first_name }.join(", ") %></p>
  <% end %>
</div>

<h3>Guest</h3>

<% @invitation_events.each do |event| %>
  <p> <%= link_to "title : #{event.title}", event_path(event) %></p>
  <p> Host : <%= event.user.first_name %></p>
  <p> Date : <%= event.date %></p>
  <p> Address : <%= event.address %></p>
  <p> Hour : <%= event.hour %></p>
  <p> Status : <%= event.status %></p>
  <p> Participant(s) : <%= event.users.where.not(id: current_user.id).map { |user| user.first_name }.join(", ") %></p>
<% end %>

<%= render "shared/footer" %>
