<%= render "shared/navbar" %>
<h1>Welcome Back <strong><%= User.find(current_user.id).first_name %>!</strong></h1>
<p>There are <%=  EventBar.where(participants_id:current_user.id)%> events this month.</p>

<h3 class="fw-bolder ps-3 pt-3" style="color:#CC5803"> Organizer 🍺</h3>

<% @host_events.each do |event| %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-form" >
          <h2 class="text-center"> <%= link_to "#{event.title}", event_path(event), class:"text-decoration-none fw-bold", style:"color:#E2711D"%></h2>
          <div class="infos d-flex fw-bold justify-content-around mt-3">
            <p><i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime("%a %e %b") %></p>
            <p>|</p>
            <p><i class="fa-regular fa-clock"></i> <%= event.hour.strftime("%H h %M") %></p>
            <p>|</p>
            <p><i class="fa-solid fa-people-group"></i> <%= event.users.count %></p>
            <p> Guest(s) : <%= event.users.where.not(id: current_user.id).map { |user| user.first_name }.join(", ") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>
<br>
<h3 class="text-center fw-bolder" style="color:#CC5803"> Guest 🍻</h3>
<% @invitation_events.each do |event| %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-form" >
          <p>Host : <%= event.user.first_name %></p>
          <h2 class="text-center"> <%= link_to "#{event.title}", event_path(event), class:"text-decoration-none fw-bold", style:"color:#E2711D"%></h2>
          <div class="infos d-flex fw-bold justify-content-around mt-3">
            <p><i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime("%a %e %b") %></p>
            <p>|</p>
            <p><i class="fa-regular fa-clock"></i> <%= event.hour.strftime("%H h %M") %></p>
            <p>|</p>
            <p><i class="fa-solid fa-people-group"></i> <%= event.users.count %></p>
          </div>
            <p> Status : <%= event.status %></p>
            <p> Participant(s) : <%= event.users.where.not(id: current_user.id).map { |user| user.first_name }.join(", ") %></p>
            <p data-controller="answer" data-answer-event-id-value="<%= event.id %>" data-answer-participant-id-value="<%= current_user.find_participant(event).id %>"> Answer :
              <% unless current_user.find_participant(event).status == "accept" %>
                <button data-action="click->answer#accept" data-status="accept" data-answer-target="accept" class="btn btn-success">Accept</button>
              <% end %>
              <% unless current_user.find_participant(event).status == "decline" %>
                <button data-action="click->answer#decline" data-status="decline" data-answer-target="decline" class="btn btn-danger">Decline</button>
              <% end %>
              <button data-action="click->answer#reset" data-status="reset" data-answer-target="reset" class="btn btn-warning">Reset</button></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/footer" %>
