<%= render "shared/navbar" %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-new-form">
        <h1><strong>Your afterwork</strong></h1>
        <div>
          <%= simple_form_for (@event) do |f| %>
            <%= f.input :title, label: 'Title of your event', placeholder: "Enter a title" %>
            <%= f.input :date, label: ('<i class="fa-regular fa-calendar"></i> Date of your event ').html_safe,
                        as: :string,
                        input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :hour, label: ('<i class="fa-regular fa-clock"></i> Hour of your event ').html_safe%>
            <%= f.input :distance, collection: (1..8), placeholder:"Enter a distance", label: ('<i class="fa-solid fa-circle-notch"></i> Define the search radius ').html_safe, hint: 'In km' %>
            <%= f.input :category, placeholder:"Enter a category",label: ('<i class="fa-solid fa-wine-glass-empty"></i>
            <i class="fa-solid fa-martini-glass-empty"></i>
            <i class="fa-solid fa-beer-mug-empty"></i>  Category ').html_safe  %>
            <%= f.input :price, placeholder:"Enter a price", label: ('<i class="fa-solid fa-coins"> </i> Price ').html_safe%>
            <%= f.input :address, placeholder:"Enter an address", label: ('<i class="fa-solid fa-map-pin"> </i> Address ').html_safe, hint: 'If blank, your account address will be used' %>
            <%= f.association :users, placeholder:"Participant(s)", collection: @users, label: ('<i class="fa-solid fa-users"> </i> Add participants ').html_safe, label_method: :unique_user, input_html: {data: {controller: "autocomplete"}} %>
            <div class="banner-create">
              <%= f.button :submit, class: "btn-btn-primary"  %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div><%= render "shared/homefooter" %></div>
