<%= render "shared/navbar" %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-form" >
      <h1>Your afterwork</h1>
        <%= simple_form_for (@event) do |f| %>
          <%= f.input :title, label: 'Title of your event' %>
          <%= f.input :date, label: 'Date of your event',
                      as: :string,
                      input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :hour, label: 'Hour of your event' %>
          <%= f.input :distance, label: 'Define the search radius', hint: 'In km' %>
          <%= f.input :category %>
          <%= f.input :price %>
          <%= f.input :address, hint: 'if blank, your account address will be used' %>
          <%= f.association :users, collection: @users, label: 'Add participants', label_method: :unique_user %>
          <%= f.button :submit, class: "btn-small-white"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
