<div class="form-check form-switch" data-action="click->search-events#button">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-search-events-target="button">
  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
</div>


<div data-search-events-target="list">
 <%# <% if user_signed_in? %>
  <br>
  <h3 class="fw-bolder text-center" style="color:#CC5803"> Organizer 🍺</h3>
  <div data-search-events-target="host">
      <% @host_events.each do |event| %>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card-form" >
                <h2 class="text-center"> <%= link_to "#{event.title}", event_path(event), class:"text-decoration-none fw-bold", style:"color:#E2711D"%></h2>
                <div class="infos d-flex fw-bold justify-content-around mt-3">
                  <p><i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime("%a %e %b") %></p>
                  <p>|</p>
                  <p><i class="fa-regular fa-clock"></i> <%= event.hour.strftime("%H h %M") %></p>
                  <p>|</p>
                  <p><i class="fa-solid fa-people-group"></i> <%= event.users.count %></p>
                </div>
                <p> Status : <%= event.status %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <br>
  <br>
  <h3 class="text-center fw-bolder" style="color:#CC5803"> Guest 🍻</h3>
  <div data-search-events-target="invit">
    <% @invitation_events.each do |event| %>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card-form" >
              <p>Host : <%= event.user.first_name %></p>
              <h2 class="text-center"> <%= link_to "#{event.title}", event_path(event), class:"text-decoration-none fw-bold", style:"color:#E2711D"%></h2>
              <div class="infos d-flex fw-bold justify-content-around mt-3">
                <p><i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime("%a %e %b") %></p>
                <p>|</p>
                <p><i class="fa-regular fa-clock"></i> <%= event.hour.strftime("%H h %M") %></p>
                <p>|</p>
                <p><i class="fa-solid fa-people-group"></i> <%= event.users.count %></p>
              </div>
              <p> Status : <%= event.status %></p>
              <p> Participant(s) : <%= event.users.where.not(id: current_user.id).map { |user| user.first_name }.join(", ") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<%# <% end %>
</div>
