<div data-search-events-target="list" class="bg-white">
  <br>
  <div data-search-events-target="host">
      <% @host_events.each do |event| %>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card-event border border-dark rounded-pill" >
                <h5 class=""> <%= link_to "#{event.title}", event_path(event), class:"text-decoration-none text-dark fw-bold", style:"color:#E2711D"%></h2>
                <div class="infos d-flex fw-bold justify-content-around mt-3">
                  <p><i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime("%a %e %b") %></p>
                  <p>|</p>
                  <p><i class="fa-regular fa-clock"></i> <%= event.hour.strftime("%H h %M") %></p>
                  <p>|</p>
                  <p><i class="fa-solid fa-people-group"></i> <%= event.users.count %></p>
                </div>
                <p> Status : <%= event.status %></p>
              </div>
              <i class="fa-regular fa-circle-right"></i>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <div data-search-events-target="invit">
    <% @invitation_events.each do |event| %>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card-form" >
              <p>Host : <%= event.user.first_name %></p>
              <h2 class="text-center"> <%= link_to "#{event.title}", event_path(event), class:"text-decoration-none fw-bold", style:"color:#E2711D"%></h2>
              <div class="infos d-flex fw-bold justify-content-around mt-3">
                <p><i class="fa-solid fa-calendar-days"></i> <%= event.date.strftime("%a %e %b") %></p>
                <p>|</p>
                <p><i class="fa-regular fa-clock"></i> <%= event.hour.strftime("%H h %M") %></p>
                <p>|</p>
                <p><i class="fa-solid fa-people-group"></i> <%= event.users.count %></p>
              </div>
              <p> Status : <%= event.status %></p>
              <p> Participant(s) : <%= event.users.where.not(id: current_user.id).map { |user| user.first_name }.join(", ") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</div>
