<div data-controller="search-events">
  <div class="banner">
    <h1 class="mt-3">AFTERWAY</h1>
    <div>
      <div class="col">
        <div class="search justify-content-center p-3 mt-5">
            <%= form_with url: myevents_path, method: :get, html: {class: "d-flex rounded", data: {search_events_target: "form"} } do |f|%>
              <button type="submit" id="submit"  class="border-0" style = "background-color:#1E3D59; color:#FFC13B">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <%= f.text_field :query,
                class: "form-control rounded-pill border-0",
                style: "background-color:white; color:#FFC13B",
                placeholder: "Look for an event",
                value: params[:query],
                data: {
                action: "keyup->search-events#update",
                search_events_target: "input"
                }
              %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if  user_signed_in? %>
    <div class="events" style="background-color:#F5F0E1">
      <h1 class="text-center p-3">Welcome Back
        <strong><%= User.find(current_user.id).first_name %>!</strong>
      </h1>

    <div class="toggle-btn-text-home mb-3" data-action="click->search-events#fire">
      <input type="checkbox" class="checkbox" data-search-events-target="button" />
      <div class="knobs border border-2 border-dark d-flex align-items-center">
        <span></span>
      </div>
      <div class="layer"></div>
    </div>

      <%= render "events/myevents"%>
    </div>
</div>
<% else %>
<div class="card rounded-pill mt-5 border-0 p-5" style ="background-color:#FFC13B">
  <div class="row">
    <div class="col">
      <h2 class="text-center fw-bolder">Let's have a drink  🍻!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col m-2">
        <div class="buttons d-flex justify-content-center justify-content-around">
          <%= link_to "Join an Event", myevents_path, class:"btn bg-white rounded-pill btn-sm fw-bolder" , style: "color:#FF6E40"%>
          <%= link_to "Create an Event", new_event_path, class: "btn bg-white rounded-pill btn-sm fw-bolder" , style: "color:#FF6E40" %>
        </div>
    </div>
  </div>

<% end %>
<%= render "shared/homefooter" %>
</div>
